.dashboard-container {
    padding: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.input-descricao {
    width: 35%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.input-valor {
    width: 15%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.radio-group label {
    margin-right: 1rem;
}

.dashboard-button {
    padding: 0.5rem;
    margin-top: 1rem;
    align-self: flex-end;
    border-radius: 8px;
}

.erro {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.transacoes-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.transacoes-col {
    width: 48%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    max-height: 300px;
    overflow-y: auto;
}

.transacoes-col h2 {
    text-align: center;
}

.transacoes-col ul {
    display: block;
    list-style-type: none;
    padding: 0;
}

.transacoes-col li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.transacoes-col li span {
    flex: 1;
    min-width: 0;
}

.transacoes-col li span:last-child {
    text-align: right;
    white-space: nowrap;
}

.edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #c82333;
}