.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}.app {
  background-color: #f4f4f4;
  padding: 1rem;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

li {
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: #333;
}

@media (max-width: 768px) {
  ul {
    flex-direction: column;
    align-items: center;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
