.dashboard-container {
    padding: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.input-descricao {
    width: 35%;
    /* Reduzido para 35% */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* Bordas arredondadas */
}

.input-valor {
    width: 15%;
    /* Reduzido para 15% */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* Bordas arredondadas */
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.radio-group label {
    margin-right: 1rem;
}

.dashboard-button {
    padding: 0.5rem;
    margin-top: 1rem;
    align-self: flex-end;
    border-radius: 8px;
}

.erro {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.transacoes ul {
    list-style-type: none;
}

.transacoes li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}